AssetApp/src/com/wonders/webservice/api/DataImport_API_Handler.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://dataExchange.webservice.stpt.wondersgroup.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://dataExchange.webservice.stpt.wondersgroup.com/" name="DataImportAPIService">
<types>
<xsd:schema>
<xsd:import namespace="http://dataExchange.webservice.stpt.wondersgroup.com/" schemaLocation="http://10.1.40.206:7001/service/DataImport_API_Handler?wsdl"/>
</xsd:schema>
</types>
<message name="setDataInfo">
<part name="parameters" element="tns:setDataInfo"/>
</message>
<message name="setDataInfoResponse">
<part name="parameters" element="tns:setDataInfoResponse"/>
</message>
<message name="getDataInfo">
<part name="parameters" element="tns:getDataInfo"/>
</message>
<message name="getDataInfoResponse">
<part name="parameters" element="tns:getDataInfoResponse"/>
</message>
<message name="confirmGetDataInfo">
<part name="parameters" element="tns:confirmGetDataInfo"/>
</message>
<message name="confirmGetDataInfoResponse">
<part name="parameters" element="tns:confirmGetDataInfoResponse"/>
</message>
<portType name="DataImportAPIDelegate">
<operation name="setDataInfo">
<input message="tns:setDataInfo"/>
<output message="tns:setDataInfoResponse"/>
</operation>
<operation name="getDataInfo">
<input message="tns:getDataInfo"/>
<output message="tns:getDataInfoResponse"/>
</operation>
<operation name="confirmGetDataInfo">
<input message="tns:confirmGetDataInfo"/>
<output message="tns:confirmGetDataInfoResponse"/>
</operation>
</portType>
<binding name="DataImport_API_HandlerBinding" type="tns:DataImportAPIDelegate">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="setDataInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDataInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="confirmGetDataInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="DataImportAPIService">
<port name="DataImport_API_Handler" binding="tns:DataImport_API_HandlerBinding">
<soap:address location="http://10.1.14.16:7001/service/DataImport_API_Handler"/>
</port>
</service>
</definitions>